<div class="drinks" id="drinks">
  <h1 class="title__open">DRINKS & FOOD</h1>
  <h1 class="title__close">DRINKS</h1>
  <div class="drinks__body">
    <img class="item1" src="assets/for_home/6_drink_ms.png" alt="dirnk foto">
    <div class="item2">
      <div class="card">
        <p>
          At our venue, cocktail perfection is at the heart of everything we do. Our team of expert mixologists
          uses only the finest ingredients to create unique and unforgettable drinks. <br>
          <br>
          Each cocktail is crafted with care and attention to detail, ensuring an exceptional taste experience.
        </p>
      </div>
    </div>
    <h1 class="title__close item5">& FOOD</h1>
    <img class="item3" src="assets/for_home/8_food_3_ms.jpg" alt="food foto">
    <div class="item4">
      <div class="card">
        <p>
          OUR FOOD MENU OFFERS A UNIQUE DINING EXPERIENCE, FROM LUNCH TIME TO ALL HOURS TO ACCOMPANY OUR COCKTAILS.<br>
          OUR CHEFS PREPARE ALWAYS FRESH AND HIGH-QUALITY DISHES, USING ONLY SEASONAL INGREDIENTS.<br>
          WE OFFER A WIDE SELECTION OF DISHES, SUITABLE FOR ALL TASTES AND DIETARY REQUIREMENTS.<br><br>

          WITH OUR ATTENTION TO DETAIL AND ELEGANT SET UP, WE CREATE SOPHISTICATED AND ENJOYABLE ATMOSPHERE FOR OUR GUESTS.<br><br>

          LET YOURSELF BE DELIGHTED BY OUR DISHES!
        </p>
      </div>
    </div>
  </div>
</div>
