<div class="about" id="about">
  <div class="grid-container">
    <img class="about_photo_1" src="assets/for_home/1_about_hz_ms.png" alt="about">
    <div class="item1 about__card">
      <h3><strong>Welcome to Salotto42</strong></h3>
      <span></span>
      <p><strong>Salotto42</strong> was born in Rome as a bookbar in the beautiful <i>Piazza di Pietra</i> in 2004.
        <br>
        Brought a new way of hanging out and spending the evenings in a unique atmosphere.</p>
    </div>
    <img class="about_photo_2" src="assets/for_home/3_about_2_ms.jpg" alt="tempio di adriano">
    <div class="item2 about__card">
      <p><strong>Salotto42</strong> is under the shadows of the majesty of Hadrian's Temple. The sophisticated interior
        design will make your visit unforgettable.
    </div>
  </div>
</div>
