<app-header></app-header>
<div class="gallery">
  <div class="row">
    <!-- Carousel wrapper -->
    <div class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
      <!-- Inner -->
      <div class="carousel-inner py-4">
        <!-- Single item -->
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 p-2">
                <div class="card">
                  <img
                    src="/assets/for_gallery/gallery_%20(10).jpg"
                    class="card-img-top" alt="photo_row_1"/>
                </div>
              </div>
              <div class="col-lg-4 p-2">
                <div class="card">
                  <img
                    src="/assets/for_gallery/gallery_%20(6).jpg"
                    class="card-img-top" alt="photo_row_1"/>
                </div>
              </div>
              <div class="col-lg-4 p-2">
                <div class="card">
                  <img
                    src="/assets/for_gallery/gallery_%20(2).jpg"
                    class="card-img-top" alt="photo_row_1"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Carousel wrapper -->
    <div class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
      <!-- Inner -->
      <div class="carousel-inner py-4">
        <!-- Single item -->
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 p-2">
                <div class="card">
                  <img
                    src="/assets/for_gallery/gallery_n_%20(1).jpg"
                    class="card-img-top" alt="photo_row_5"/>
                </div>
              </div>
              <div class="col-lg-4 p-2">
                <div class="card">
                  <img
                    src="/assets/for_gallery/gallery_n_%20(5).jpg"
                    class="card-img-top" alt="photo_row_5"/>
                </div>
              </div>
              <div class="col-lg-4 p-2">
                <div class="card">
                  <img
                    src="/assets/for_gallery/gallery_n_%20(3).jpg"
                    class="card-img-top" alt="photo_row_5"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Carousel wrapper -->
    <div class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
      <!-- Inner -->
      <div class="carousel-inner py-4">
        <!-- Single item -->
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 p-2">
                <div class="card">
                  <img
                    src="/assets/for_gallery/cibo%20(1).jpg"
                    class="card-img-top" alt="photo_row_5"/>
                </div>
              </div>
              <div class="col-lg-4 p-2">
                <div class="card">
                  <img
                    src="/assets/for_gallery/cibo%20(2).jpg"
                    class="card-img-top" alt="photo_row_5"/>
                </div>
              </div>
              <div class="col-lg-4 p-2">
                <div class="card">
                  <img
                    src="/assets/for_gallery/cibo%20(3).jpg"
                    class="card-img-top" alt="photo_row_5"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Carousel wrapper -->
    <div class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
      <!-- Inner -->
      <div class="carousel-inner py-4">
        <!-- Single item -->
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 p-2">
                <div class="card">
                  <img
                    src="/assets/for_gallery/gallery_%20(11).jpg"
                    class="card-img-top" alt="photo_row_3"/>
                </div>
              </div>
              <div class="col-lg-4 p-2">
                <div class="card">
                  <img
                    src="/assets/for_gallery/gallery_%20(8).jpg"
                    class="card-img-top" alt="photo_row_3"/>
                </div>
              </div>
              <div class="col-lg-4 p-2">
                <div class="card">
                  <img
                    src="/assets/for_gallery/gallery_%20(7).jpg"
                    class="card-img-top" alt="photo_row_3"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Carousel wrapper -->
    <div class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
      <!-- Inner -->
      <div class="carousel-inner py-4">
        <!-- Single item -->
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 p-2">
                <div class="card">
                  <img
                    src="/assets/for_gallery/gallery_n_%20(11).jpg"
                    class="card-img-top" alt="photo_row_5"/>
                </div>
              </div>
              <div class="col-lg-4 p-2">
                <div class="card">
                  <img
                    src="/assets/for_gallery/gallery_n_%20(12).jpg"
                    class="card-img-top" alt="photo_row_5"/>
                </div>
              </div>
              <div class="col-lg-4 p-2">
                <div class="card">
                  <img
                    src="/assets/for_gallery/gallery_n_%20(8).jpg"
                    class="card-img-top" alt="photo_row_5"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Carousel wrapper -->
    <div class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
      <!-- Inner -->
      <div class="carousel-inner py-4">
        <!-- Single item -->
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 p-2">
                <div class="card">
                  <img
                    src="/assets/for_gallery/gallery_extra_%20(1).jpg"
                    class="card-img-top" alt="photo_row_5"/>
                </div>
              </div>
              <div class="col-lg-4 p-2">
                <div class="card">
                  <img
                    src="/assets/for_gallery/gallery_extra_%20(2).jpg"
                    class="card-img-top" alt="photo_row_5"/>
                </div>
              </div>
              <div class="col-lg-4 p-2">
                <div class="card">
                  <img
                    src="/assets/for_gallery/gallery_extra_%20(3).jpg"
                    class="card-img-top" alt="photo_row_5"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Carousel wrapper -->
    <div class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
      <!-- Inner -->
      <div class="carousel-inner py-4">
        <!-- Single item -->
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 p-2">
                <div class="card">
                  <img
                    src="/assets/for_gallery/gallery_13.jpg"
                    class="card-img-top" alt="photo_row_2"/>
                </div>
              </div>
              <div class="col-lg-4 p-2">
                <div class="card">
                  <img
                    src="/assets/for_gallery/gallery_14.jpg"
                    class="card-img-top" alt="photo_row_2"/>
                </div>
              </div>
              <div class="col-lg-4 p-2">
                <div class="card">
                  <img
                    src="/assets/for_gallery/gallery_15.jpg"
                    class="card-img-top" alt="photo_row_2"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Carousel wrapper -->
    <div class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
      <!-- Inner -->
      <div class="carousel-inner py-4">
        <!-- Single item -->
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 p-2">
                <div class="card">
                  <img
                    src="/assets/for_gallery/gallery_%20(5).jpg"
                    class="card-img-top" alt="photo_row_4"/>
                </div>
              </div>
              <div class="col-lg-4 p-2">
                <div class="card">
                  <img
                    src="/assets/for_gallery/gallery_%20(1).jpg"
                    class="card-img-top" alt="photo_row_4"/>
                </div>
              </div>
              <div class="col-lg-4 p-2">
                <div class="card">
                  <img
                    src="/assets/for_gallery/gallery_%20(9).jpg"
                    class="card-img-top" alt="photo_row_4"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
