<div class="header">
  <div class="header__content">
    <a href="" class="header__logo">
      <img class="logo" alt="logo" src="../../../assets/for_home/logo_salotto_fix.png">
    </a>
    <ul class="header__menu">
      <a class="menu__opt--1" href="#about"><li><strong>About Us</strong></li></a>
      <a class="menu__opt--2" href="#drinks"><li><strong>Drinks & Food</strong></li></a>
      <a class="menu__opt--3" href="#contacts"><li><strong>Contact Us</strong></li></a>
      <a class="menu__opt--4" href="gallery"><li><strong>Gallery</strong></li></a>
      <a class="menu__opt--5" href="https://giftcard.superbexperience.com/salotto42/"><li><strong>Gift Card</strong></li></a>
      <a class="menu__opt--6" href="https://salotto42.superbexperience.com/"><li><strong>Book Now!</strong></li></a>
    </ul>
    <div class="header__hamburger">
      <span></span>
      <span></span>
    </div>
  </div>
</div>
