.header{
  /*Per poterlo visualizzare sempre in alto
    fissato e largo quanto tutto lo schermo.*/
  position: sticky;
  top:0;
  left:0;
  z-index: 100;
  width: 100%;
  font-family: "Italiana", sans-serif;
  background-color: #1b1819;
}

.header__content{
  /*Permette di mantenere le distanze per schermi grandi.*/
  /*max-width: 1200px;*/
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header__logo{
  margin-top: 1rem;
  padding: 15px;
}

.header__logo img{
  max-width: 12vw;
}

.header__menu {
  position: absolute;
  top: 8rem;
  margin: 0;
  padding: 0;
  background-color: var(--secondary);
  width: 100%;
  height: 0;
  overflow: hidden;

  transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
}

.header__menu a li{
  display: inline-block;
  padding: 2rem;
  width: 100%;
  border-bottom: 1px solid #000000;
}

.header__menu a{
  color: var(--primary);
  opacity: 0.8;
  text-decoration: none;
  font-size: 2.5rem;
}

.header__menu a:hover{
  color: var(--extra);
}

.header__menu .menu__opt--6{
  color: var(--primary);
  opacity: 0.8;
  font-size: 2rem;
}

.header__menu .menu__opt--6:hover {
  color: var(--secondary);
}

.header__menu .menu__opt--6 li{
  background-color: #BB9457;
}

.header__menu.menu_open{
  height: 100vh;
  padding: 1%;
}

.header__hamburger{
  display: flex;
  margin-top: 20px;
  margin-right: 20px;
  flex-direction: column;
  width: 50px;
  height: 50px;
}

.header__hamburger span{
  height: 3px;
  width: 40px;
  background-color: var(--primary);
  position: relative;
  display: block;
  margin-top: 15px;
  transition: all 0.5s cubic-bezier(.215,.61,.355,1);
}

.header__hamburger.menu_open span:first-child{
  background-color: var(--extra);
  transform: translateY(15px) rotate(-45deg);
}

.header__hamburger.menu_open span:last-child{
  background-color: var(--extra);
  transform: rotate(45deg) ;
}

@media screen and (max-width:500px) {
  .header__logo img{
    max-width: 50vw;
  }
}

@media (min-width:501px) and (max-width:839px) {
  .header__logo img{
    max-width: 40vw;
  }
}

@media (min-width:840px) and (max-width:1400px) {
  .header__logo img {
    max-width: 20vw;
  }
}
